**/.DS_Store
**/.vscode
**/target
**/*.log
**/node_modules/
**/dist/
!examples/web-chat/react-app/dist/
examples/web-chat/react-app/dist/*
!examples/web-chat/react-app/dist/.gitkeep
**/pkg/
**/theta-actors.d.ts
*.tsbuildinfo
.vite/

/iroh/
/.playwright-mcp
